/* MENÚ HORIZONTAL */
.menu-horizontal {
    display: flex;
    gap: 25px;
    font-size: 18px;
    margin-right: 30px;
}

.menu-horizontal a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.menu-horizontal a:hover {
    color: var(--primary);
}

/* CENTRAR TITULO */
.center-title {
    text-align: center;
    margin-bottom: 30px;
}

/* ESTILO DE PROYECTOS EN DOS COLUMNAS */
.projects-two-column {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.left-column,
.right-column {
    width: 330px;
    background: var(--card-bg);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    text-align: center;
}

.project-img {
    width: 100%;
    border-radius: 12px;
}

/* FOOTER A IZQUIERDA Y DERECHA */
.footer-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.footer-left {
    color: #000;
}

.footer-right a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--primary);
}

.footer-right a:hover {
    text-decoration: underline;
}
